---
import { BaseInput } from "astro-form-elements";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <BaseInput formElementName="test" label="test" name="test" placeholder="placeholder">
    </BaseInput>
    <BaseInput formElementName="test2"label="test2" name="test2"/>
    <BaseInput formElementName="test2"  label="test3" name="test3"/>

    <button>test</button>
  </body>

  <script> 
    import { FormElement } from 'astro-form-elements'
    import { tap } from  'rxjs'

    const test = new FormElement('test');
    test.valueChanges().pipe(
      tap((x: any) => {
       //console.log(x)
      })
    ).subscribe((x: any) => {
      console.log(x)
      
    })
    const test2 = new FormElement('test2');
    test2.valueChanges().subscribe((x: any) => {
      console.log(x)
    })
    const test3 = new FormElement('test3');
  
    // test.onChanges().then()
    
    //document.querySelector('button')?.addEventListener('click', () => console.log(x));
  </script>
</html>
