---
import { Form, Input } from "astro-form-elements/components"; 
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Form formGroupElementName="form">
      <div>
        <Input formGroupName="form" formElementName="text-in-form" label="text-in-form" type='text' inputmode="numeric"  min="3" max="5"/>
      </div>
    </Form>
    <Input formElementName="test" label="text" type='text' inputmode="numeric"  min="3" max="5"/>
    <Input formElementName="checkbox" type="checkbox" value="true" label="this is a checkbox"/>
    <Input formElementName="radio" type="radio" label="this is a radio" value="value" />
    
    <div id="id"></div>
    <!-- <form-element formElementName="test" id='idtest'></form-element> -->
   <!--  <form-element formElementName='test2'></form-element>
    <form-element formElementName="test2" ></form-element>
    -->
    <!--  <Child/>  --> 
    <button id="btn" disabled>test</button>
  </body>

  <script>

    
    import FormGroupElement from "astro-form-elements/form-group-element";
    import  FormElement  from "astro-form-elements/form-element";
    
    window.addEventListener('load', () => {
     
      const text = FormElement('test');
      const checkbox = FormElement('checkbox');
      const radio = FormElement('radio');
      const text_in_form = FormElement('text-in-form');
      const form1 = FormGroupElement('form')

      
     
      const button = document.getElementById('btn') as HTMLButtonElement
      /* console.log(text)
      console.log(checkbox)
      console.log(radio)
 */
     
      
  
      text.valueChanges().subscribe((x) => {
        console.log(x)
        
        if(x.eventType === 'input') {
          button.disabled = false 
        }
        console.dir(text)
      })
      checkbox.valueChanges().subscribe((x) => {
        console.log(x)
       
        console.dir(checkbox)
      })
      radio.valueChanges().subscribe((x) => {
        console.log(x)
        if(x.eventType === 'input') {
          button.disabled = false 
        }
        console.dir(radio)
      })
      text_in_form.valueChanges().subscribe((x) => {
        console.log(x)
        if(x.eventType === 'input') {
          button.disabled = false 
        }
        console.dir(text_in_form)
      })
      form1.valueChanges().subscribe((x) => {
        console.log(x)
        if(x.eventType === 'input') {
          button.disabled = false 
        }
        console.dir(text_in_form)
      })
    })
    
    

  






</script>
</html>
