---
import { BaseInput, BaseCheckbox } from "astro-form-elements/components";

 
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <BaseInput  formElementName="test" label="test" type="mizzica" ciao="ciccia"/>
    <BaseCheckbox formElementName="test2" label="test" label="this is a checkbox"/>
    <div id="id"></div>
    <!-- <form-element formElementName="test" id='idtest'></form-element> -->
   <!--  <form-element formElementName='test2'></form-element>
    <form-element formElementName="test2" ></form-element>
    -->
    <!-- <Child/>  -->
    <button>test</button>
  </body>

  <script>
    import { FormElements } from "astro-form-elements";
    

    const test = FormElements.get('test');
   

    test.valueChanges().subscribe((x:any) => {
      console.log(x)
      console.dir(test)
    })
  </script>
</html>
