---
import { BaseInput } from "astro-form-elements";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <BaseInput formElementName="test" label="test" name="test" placeholder="placeholder"/>
    <BaseInput label="test2" name="test2"/>
    <BaseInput label="test2" name="test2"/>

    <button>test</button>
  </body>

  <script> 
    import { FormElement } from 'astro-form-elements'

    const test = new FormElement('test');
  
    // test.onChanges().then()
    let x = document.querySelectorAll('form-element');
    console.log(x)
    document.querySelector('button')?.addEventListener('click', () => console.log(x));
  </script>
</html>
