---
import { BaseInput } from "astro-form-elements";
import  Child from "../components/Child.astro"
 
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <form-element formElementName="test" id='idtest'>
      <BaseInput  label="test" name="test" placeholder="placeholder">
      </BaseInput>
    </form-element>
    <form-element formElementId='test2'>
      <BaseInput formElementName="test2"label="test2" name="test2"/>
    </form-element>
    <BaseInput formElementName="test2"  label="test3" name="test3"/>
    <Child/>

    <button>test</button>
  </body>

  <script>
    import { FormElement } from 'astro-form-elements'
    import { tap } from  'rxjs'
    import { formService } from 'astro-form-elements'

    console.log(formService.get('test'))
    /* const test = new FormElement('test');
     */
    /* test.valueChanges().pipe(
      tap((x: any) => {
       //console.log(x)
      })
    ).subscribe((x: any) => {
      console.log(x)
      
    })

    const test2 = new FormElement('test2');
    test2.valueChanges().subscribe((x: any) => {
      console.log(x)
    })
    
    const test3 = new FormElement('test3');
     */
  
    // test.onChanges().then()
    
    //document.querySelector('button')?.addEventListener('click', () => console.log(x));
  </script>
</html>
